{% extends 'layout/basic.html' %}

{% block content %}

<div class="card-body">
    <form method="post">
        {% csrf_token %}
        <div class="card-title">
            <h5 class="card-title">Удаление категории {{ object.category|title }}</h5>
        </div>
        <p>Действительно хотите удалить категорию "{{ object.category|title }}" ?</p>
        <button type="submit" class="btn btn-danger">
            Удалить
        </button>
        <a href="{% url 'catalog:product_list'%}" class="btn btn-warning">Отмена</a>
    </form>
</div>

{% endblock %}