{% extends 'layout/basic.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card mt-5 mb-5">
                <div class="card-header">
                    <h4>Добавление объявления </h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Добавить" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mt-5 mb-5">
                <div class="card-header">
                    <h4>Правила размещения объявления</h4>
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            <b>Объявление должно быть законным</b>
                            <p>Объявления о продаже товаров должны соответствовать законодательству о защите прав
                                потребителей. Потребители имеют право приобретать товары надлежащего качества и
                                безопасности. Вы не должны вводить потребителей в заблуждение относительно качества,
                                безопасности или сроков годности товаров. Защита прав потребителей регулируется
                                законами, регулирующими покупку и обращение товаров на рынке.
                                Любые нарушения прав потребителей могут повлечь юридические последствия
                                для вас.</p>
                        </li>
                        <li>
                            <b>Информация должна быть достоверной и полной</b>
                            <p>Важно следить за тем, чтобы предоставляемая информация была правдивой и точной. Описание
                                товара должно быть достоверным и соответствовать фактическим характеристикам товара.
                                Потребители полагаются на информацию, предоставленную в рекламных объявлениях, для
                                принятия обоснованных решений о покупке, и любая вводящая в заблуждение или ложная
                                информация может привести к неудовлетворенности и потенциальным юридическим
                                проблемам.</p>
                        </li>
                        <li>
                            <b>Избегайте дублирование объявлений</b>
                            <p>Дублирование объявлений о продаже товаров оказывает негативное влияние как на
                                потребителей, так и на бизнес. Потребителей может сбить с толку несколько одинаковых
                                рекламных объявлений одного и того же продукта или услуги. Это может привести к
                                отсутствию доверия и доверия к рекламируемым товарам или услугам. Кроме того,
                                дублирование может создать загроможденную рекламную среду, из-за чего потребителям
                                будет сложно найти актуальную и точную информацию об интересующих их товарах или
                                услугах.
                            </p>
                        <li>
                            <b>Цена указывается в рублях</b>
                            <p>Veniam sint aliquip ex aute est velit aliqua incididunt ex sit. Ipsum irure tempor veniam
                                in cupidatat. Duis aliquip ea ullamco dolore ea ut excepteur cillum.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
