{% extends "layout/basic.html" %}
{% load products_tags %}

{% block content %}
<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"><a href="{% url 'catalog:product_list' %}">Все объявления</a></h5>
                </div>
                <div class="card-body">
                    <div class="card-title">
                        {% include 'catalog/includes/inc_search_field.html' %}
                    </div>
                    {% for obj in page_obj %}
                    <ul>
                        <li>
                            <ul class="list-inline">
                                <li class="list-inline-item"
                                    style="font-family: cursive; font-weight: 600; font-size: 100%">
                                    <a href="{% url 'catalog:product_detail' obj.pk %}">{{obj.name}}</a>
                                </li>
                                <li class="list-inline-item">{{obj.published|date:"d.m.Y H:i:s"}}</li>
                            </ul>
                            {{obj.description}}
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    Цена: {{obj.price}} рублей
                                </li>
                                <li class="list-inline-item">
                                    <button type="button" class="btn btn-outline-dark"
                                            style="font-size: 10px;">
                                        В корзину
                                    </button>
                                </li>
                            </ul>
                            <ul class="list-inline">
                            {% for version in versions %}
                                {% if version.product.pk == obj.pk %}
                                <li class="list-inline-item">
                                    <strong>Название: </strong>{{ version.title|lower }},
                                </li>
                                <li class="list-inline-item">
                                    <strong>номер: </strong>{{ version.number }},
                                </li>
                                <li class="list-inline-item">
                                    <strong>статус: </strong> активно.
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                    </ul>
                    {% endfor %}

                    {% include 'catalog/includes/inc_paginate.html' %}

                </div>
                <div class="card-footer">
                    <a href="{% url 'catalog:add_product' %}" class="btn btn-primary">Добавить товар</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Категории товаров</h5>
                </div>
                <div class="card-body">
                    {% for cat in categories %}
                    <ul>
                        <li>
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary dropdown-toggle"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    <span>{{cat.category}}</span>
                                </button>
                                <a href="{% url 'catalog:update_category' cat.pk %}"
                                   class="btn btn-outline-primary">
                                    Изменить
                                </a>
                                <a href="{% url 'catalog:delete_category' cat.pk %}"
                                   class="btn btn-outline-danger float-right">
                                    Удалить
                                </a>
                                <ul class="dropdown-menu">
                                    {% if cat.categories.all %}
                                    {% for prod in cat.categories.all %}
                                    <li><a class="dropdown-item"
                                           href="{% url 'catalog:product_detail' prod.pk %}">{{prod.name}}</a>
                                    </li>
                                    {% endfor %}
                                    {% else %}
                                    <li><a class="dropdown-item">Нет товаров</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <a href="{% url 'catalog:add_category' %}" class="btn btn-primary">Добавить категорию</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
