{% extends 'layout/basic.html' %}
{% load products_tags %}
{% load static %}

{% block content %}
<div class="card-header">
    <div class="text-center">
        <h1>{{ object.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="container mt-5">
            <div class="card mt-1 mb-5">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ object.image|media_path }}" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h5>{{ object.name|title }}</h5>
                                </li>
                                <li class="list-inline-item">
                                    <h5>{{ object.price }} ₽</h5>
                                </li>
                            </ul>
                            <p class="card-text">{{ object.description }}</p>
                            <p><b>Категория:</b> {{ object.category }}</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <b>Дата публикации:</b>
                                </li>
                                <li class="list-inline-item">
                                    {{object.published|date:"d.m.Y H:i:s"}}
                                </li>
                                <li class="list-inline-item">
                                    <b>Дата последнего изменения объявления:</b>
                                </li>
                                <li class="list-inline-item">
                                    {{object.changed|date:"d.m.Y H:i:s"}}
                                </li>
                            </ul>
                            <p><b>Пользователь:</b> {{ object.user_product|default:"нет" }}</p>
                            <p>
                                {% if perms.catalog.set_published %}
                                <a href="{% url 'catalog:publish_product' object.pk %}" class="btn btn-primary">
                                    Опубликовать
                                </a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                {% if user == object.user_product %}
                <div class="card-footer">
                    <a href="{% url 'catalog:update_product' object.pk %}" class="btn btn-primary">
                        Изменить
                    </a>
                    <a href="{% url 'catalog:delete_product' object.pk %}" class="btn btn-danger float-right">
                        Удалить
                    </a>
                </div>
                {% elif user.is_staff %}
                <div class="card-footer">
                    {% if perms.catalog.change_product %}
                    <a href="{% url 'catalog:update_product' object.pk %}" class="btn btn-primary">
                        Изменить
                    </a>
                    {% endif %}
                    {% if perms.catalog.delete_product %}
                    <a href="{% url 'catalog:delete_product' object.pk %}" class="btn btn-danger float-right">
                        Удалить
                    </a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container mt-5">
            <div class="card mt-1 mb-5">
                <div class="card-body">
                    <div class="d-grid gap-5 col-6 mx-auto px-auto">
                        <button class="btn btn-info" type="button">Показать телефон</button>
                        <button class="btn btn-success" type="button">Купить</button>
                        <a href="{% url 'catalog:feedback' %}" class="btn btn-primary">Обратная связь</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}