{% extends "layout/basic.html" %}
{% load products_tags %}


{% block content %}
<div class="card-body">
    <form method="post">
        {% csrf_token %}
        <div class="card-title">
            <h5 class="card-title">Удаление объявления {{ object.name|title }}</h5>
        </div>
        <p>Действительно хотите удалить объявление "{{ object.name|title }}" ?</p>
        <button type="submit" class="btn btn-danger">
            Удалить
        </button>
        <a href="{% url 'catalog:product_detail' object.pk %}" class="btn btn-warning">Отмена</a>
    </form>
</div>
{% endblock %}